* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Arvo', serif;
    font-family: 'Merriweather Sans', sans-serif;
    color: #272727;
}

/* Header */
.header {
    padding: 20px;
}
.header h1 {
    display: inline-block;
    font-size: 45px;
    color: #80A1D4;
}

.header ul {
    list-style-type: none;
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-size: 25px;
}

.header ul li {
    display: inline-block;
    margin-left: 25px;
}

.header ul li a {
    text-decoration: none;
}

/* Profile */
.profile {
    display: inline-block;
    width: 100%;
    margin-top: 75px;
    padding-bottom: 50px;
    margin-left: 50px;
}

.profile h2 {
    font-size: 45px;
    margin-top: 200px;
    margin-left: 550px;
}

.profile #background {
    max-height: 500px;
    float: right;
    margin-right:400px;
    position: relative;
}

.profile #profile {
    max-height: 500px;
    position: absolute;
    right: 400px;
    top: 250px;
    border: 10px solid white;
}

.charlie {
    color: #80A1D4;
}

/* About Me */
.about-me {
    margin: 50px 20px 20px 20px;
    display: inline-block;
}

.about-me h3 {
    margin: 20px;
    font-size: 35px;
    text-decoration: underline #80A1D4;
    text-align: center;
}

.about-me p {
    margin: 25px;
    text-align: center;
}

/* Work */
.work {
    margin: 0px 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.work h3 {
    font-size: 35px;
    text-decoration: underline #80A1D4;
    margin: 0px 20px 20px 20px;
    text-align: center;
    width: 100%;
}

.coming-soon {
    width: 100%;
    border: 25px solid white;
}

.coming-soon img {
    width: 50%;
    position: relative;
    left: 550px;
}

#coming-soon {
    position: absolute;
    bottom: 50px;
    background-color: white;
    color: #80A1D4;
    font-size: 50px;
    margin: 50px;
    bottom: 450px;
    left: 575px;
}

.work-in-progress {
    width: 50%;
    border: 25px solid white;
}

.work-in-progress img {
    width: 50%;
    position: relative;
    left: 550px;
}

#work-in-progress {
    position: absolute;
    bottom: 50px;
    background-color: white;
    color: #80A1D4;
    font-size: 30px;
    margin: 30px;
    left: 575px;
}

.up-and-coming {
    width: 50%;
    border: 25px solid white;
}

.up-and-coming img {
    width: 50%;
    position: relative;
    right: 20px;
}

#up-and-coming {
    position: absolute;
    bottom: 50px;
    background-color: white;
    color: #80A1D4;
    font-size: 30px;
    margin: 30px;
}

/* Contact Me */
.contact-me {
    margin: 0px 20px 20px 20px;
}

.contact-me h3 {
    font-size: 35px;
    text-decoration: underline #80A1D4;
    margin: 0px 20px 20px 20px;
    text-align: center;
}

.contact-me ul {
    list-style-type: none;
    padding-top: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 25px;
}

.contact-me ul li {
    display: inline-block;
    margin-left: 25px;
}

.contact-me ul li a {
    text-decoration: none;
}

.facebook {
    margin-right: 100px;
}

.linkedin {
    margin-right: 100px;
}

.github {
    margin-right: 100px;
}

/* Resume */
.resume {
    margin: 20px 20px 20px 20px;
}

.resume h3 {
    font-size: 35px;
    text-decoration: underline #80A1D4;
    margin: 20px 20px 20px 20px;
    text-align: center;
}